//= GENERALS

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

footer {
    background-image: url("./assets/img/footer-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 240px);

    >div{
        height: 100%;
        background-image: url("./assets/img/dc-logo-bg.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position-x: 100%;
    }
  }