@mixin center($type : 'both'){
display: flex;
@if $type == 'y' {
    align-self: center;
} @else if $type == 'x' {
    justify-content: center;
} @else {
    align-items: center;
    justify-content: center;
}
};

//? JUSTIFY-CONTENT
@mixin justify($type : 'center'){
    display: flex;
    @if $type == 'between' {
        justify-content: space-between
    } @else if $type == 'around' {
        justify-content: space-around;
    } @else if $type == 'end' {
        justify-content: end;
    } @else {
        justify-content: center;
    }
};
